.experiments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding: 2em;

  & > div {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
  }
}

.code {
  padding: 0.2em;
  background: #eee;
  border: 1px solid #ccc;
  text-indent: -7em;
}
.code::before {
  content: "experiments: ";
  position: relative;
  left: 5.5em;
  top: -1.7em;
  font-family: 'Didact Gothic', 'Didact Gothic Fallback';
}
